Source: ros-groovy-control-panel
Section: misc
Priority: extra
Maintainer: Matt Richard <matthew.w.richard@gmail.com>, Scott K Logan <logans@cottsay.net>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-nav-msgs,ros-groovy-std-srvs,ros-groovy-roscpp,ros-groovy-stereo-msgs,ros-groovy-std-msgs,ros-groovy-trajectory-msgs,ros-groovy-sensor-msgs,ros-groovy-image-transport,ros-groovy-geometry-msgs,libqt4-dev,ros-groovy-catkin,ros-groovy-cv-bridge,ros-groovy-diagnostic-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-groovy-control-panel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-nav-msgs,ros-groovy-std-srvs,ros-groovy-roscpp,ros-groovy-stereo-msgs,ros-groovy-std-msgs,ros-groovy-trajectory-msgs,ros-groovy-sensor-msgs,ros-groovy-image-transport,ros-groovy-geometry-msgs,libqt4-dbus,libqt4-network,libqt4-script,libqt4-test,libqt4-xml,libqtcore4,ros-groovy-cv-bridge,ros-groovy-diagnostic-msgs
Description: The SDSM&amp;T SRS Control Panel
